table, thead, tbody, tfoot, tr, th, td {
  margin: 0;
  padding: 0;
  border: none;
  border-collapse: inherit;
  border-spacing: 0;
  border-color: inherit;
  vertical-align: inherit;
  font-weight: inherit;
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0; }

*, *:before, *:after, input, textarea, button, select {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

input {
  border-radius: 0 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important; }

ul, ol {
  list-style-type: none; }

a {
  text-decoration: none;
  cursor: pointer; }

input:focus,
label:focus,
textarea:focus,
select:focus,
option:focus,
button:focus,
a:focus {
  outline: none; }

html {
  -webkit-text-size-adjust: 100%;
  font-family: "HelveticaNeue";
  color: #3e434a;
  overflow-x: hidden; }

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/helvetica-neue/HelveticaNeue.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/helvetica-neue/HelveticaNeueLt.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal; }
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/helvetica-neue/HelveticaNeueBd.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.slick-slide:focus {
  outline-style: none; }

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 175px;
  height: 50px;
  font-size: 16px;
  color: #FFF;
  text-transform: capitalize;
  border: none;
    border-radius: 6px;
  background-color: #2095bc;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer; }
  .button:hover {
    background-color: #26afdd; }
  .button_option_transparent {
    background-color: transparent;
    border: 1px solid #fff; }
    .button_option_transparent:hover {
      background-color: #FFF;
      color: #000; }
  .button_option_white {
    width: auto;
    height: auto;
    font-size: 1em;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 0.7em 1.4em;
    border: 1px solid #E5E6E9;
    background-color: #fff;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#fcfcfd), to(#fff));
    background-image: linear-gradient(to top, #fcfcfd, #fff);
    color: #898f98; }
    .button_option_white:hover {
      background-image: none;
      background-color: #E5E6E9;
      color: #fff; }
  .button_option_dark {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: auto;
    height: auto;
    font-size: 12px;
    padding: 0.83em 1.25em;
    border-radius: 2px;
    color: #898f98;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#4a4f57), to(#565c64));
    background-image: linear-gradient(to top, #4a4f57, #565c64); }
    .button_option_dark:hover {
      background-image: -webkit-gradient(linear, left bottom, left top, from(#565c64), to(#565c64));
      background-image: linear-gradient(to top, #565c64, #565c64); }

.title {
  font-size: 30px;
  text-align: center; }
  .title-sub {
    margin-top: 20px;
    font-size: 21px;
    text-align: center;
    color: #898f98; }

.container {
  width: 100%;
  max-width: 1010px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px; }
  .container_gradient {
    padding-top: 200px;
    padding-bottom: 155px;
    background-image: -webkit-gradient(linear, left top, right top, from(#000), color-stop(rgba(255, 255, 255, 0.3)), to(#000));
    background-image: linear-gradient(to right, #000, rgba(255, 255, 255, 0.3), #000);
    -webkit-box-shadow: inset 0 93px 250px 0 #000;
            box-shadow: inset 0 93px 250px 0 #000; }

.header {
  padding: 45px 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  color: #FFF; }
  .header__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.logo {
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  color: inherit; }

.nav {
  font-size: 15px; }
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
    .nav-list li + li {
      margin-left: 20px; }
    .nav-list__link {
      color: inherit; }
      .nav-list__link:hover {
        text-decoration: underline; }
  .nav-toggle {
    display: none;
    color: #FFF; }

.preview-block {
  background-color: #000;
  color: #FFF; }
  .preview-block__title, .preview-block__text {
    max-width: 530px; }
  .preview-block__title {
    font-size: 48px; }
  .preview-block__text {
    margin-top: 10px;
    font-size: 18px;
    line-height: 2; }

.buttons-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: -5px; }
  .buttons-grid__col {
    width: col-width(auto);
    padding: 5px; }
.buttons-wrap {
  margin-top: 30px; }

.promotion-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -5px; }
  .promotion-grid__col {
    width: col-width(auto);
    padding: 5px; }
.promotion-grid__col:nth-child(1) {
  width: 375px;
  -ms-flex-negative: 0;
      flex-shrink: 0; }
.promotion-grid__col:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }
.promotion-block {
  background-color: #F7F8FA;
  padding: 45px 0; }
  .promotion-block__img {
    display: block;
    max-width: 100%;
    margin-top: -20%;
    margin-left: auto;
    margin-right: auto; }
  .promotion-block__title {
    font-size: 24px; }
  .promotion-block__text {
    color: #898f98;
    margin-top: 20px;
    font-size: 15px;
    line-height: 1.6; }

.features-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: -10px; }
  .features-grid__col {
    width: col-width(4);
    padding: 10px; }
.features-block {
  padding: 70px 0 80px;
  border-top: 1px solid #ebedf0;
  border-bottom: 1px solid #ebedf0; }
  .features-block__title-sub {
    margin-bottom: 50px; }
.features-item {
  width: 100%;
  max-width: 235px;
  margin: auto;
  text-align: center;
  font-size: 14px;
  padding: 1.78em 1.78em 0;
  border-radius: 4px;
  background-color: #fff;
  position: relative; }
  .features-item:before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: 0;
    z-index: -1;
    border-radius: 5px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#dfe3ea), to(#fff));
    background-image: linear-gradient(to bottom, #dfe3ea, #fff); }
  .features-item__icon {
    font-size: 5.35em;
    margin-bottom: 0.33em; }
  .features-item__title {
    font-size: 1.2em;
    font-weight: normal;
    margin-bottom: 0.58em; }
  .features-item__text {
    line-height: 1.7;
    color: #898f98;
    margin-bottom: 1.4em; }

.testimonals-block {
  padding: 60px 0 45px;
  background-color: #F7F8FA; }
  .testimonals-block__title {
    margin-bottom: 50px; }

.reviews-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: -15px; }
  .reviews-grid__col {
    width: col-width(auto);
    padding: 15px; }
.reviews-grid {
  display: block; }
.reviews-item {
  width: 100%;
  max-width: 280px;
  margin: 0 auto;
  font-size: 13px; }
  .reviews-item__text {
    padding: 1.15em 1.5em 1.5em;
    margin-bottom: 1.9em;
    background-color: #FFF;
    border-radius: 4px;
    position: relative; }
    .reviews-item__text:before {
      content: "";
      top: 100%;
      left: 1.5em;
      width: 1.23em;
      height: 1.23em;
      position: absolute;
      background-color: #FFF;
      -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 0%);
              clip-path: polygon(0% 0%, 0% 100%, 100% 0%); }
    .reviews-item__text-wrap {
      -webkit-filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.1));
              filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.1)); }
  .reviews-item__user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .reviews-item__avatar {
    width: 3.84em;
    height: 3.84em;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    border-radius: 50%;
    background-color: #D2DCE0;
    margin-right: 0.76em;
    overflow: hidden; }
    .reviews-item__avatar img {
      display: block;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .reviews-item__info {
    font-size: 0.9em;
    color: #6E747C; }
    .reviews-item__info a {
      color: #3BA06F; }
      .reviews-item__info a:hover {
        text-decoration: underline; }
      .reviews-item__info a:before {
        content: "@"; }

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  font-size: 17px;
  margin-top: 2em; }
  .slick-dots li {
    margin: 0 0.17em; }
  .slick-dots button {
    display: block;
    width: 13px;
    height: 13px;
    background: none;
    border: 0.17em solid #2095bc;
      border-radius: 50px;
    cursor: pointer;
    color: transparent; }
  .slick-dots .slick-active button {
    background-color: #2095bc; }

.trial-block {
  padding: 80px 0;
  background-color: #2095bc;
  color: #fff; }
  .trial-block__title {
    font-size: 36px; }
    .trial-block__title-sub {
      color: #95CDE0; }
  .trial-block__btn {
    margin: 25px auto 0; }

.footer {
  padding: 40px 0;
  background-color: #3e434a;
  color: #898f98;
  font-size: 13px; }
  .footer-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    margin: -10px; }
    .footer-grid__col {
      width: col-width(auto);
      padding: 10px; }
  .footer-item__title {
    font-size: 1em;
    color: #D0D6DD;
    margin-bottom: 1em; }
  .footer-item-list__link {
    display: inline-block;
    color: inherit;
    line-height: 2.5em; }
    .footer-item-list__link:hover {
      text-decoration: underline; }
  .footer__copyright {
    border-top: 1px solid #51565d;
    padding-top: 2.3em;
    margin-top: 6.15em; }

.form {
  width: 100%;
  max-width: 305px;
  font-size: 12px; }
  .form__text {
    margin-bottom: 1.1em; }
  .form__input, .form__btn {
    height: 2.58em; }
  .form__btn {
    padding-top: 0;
    padding-bottom: 0; }
  .form__input {
    margin-right: 0.66em;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    border: none;
    font-size: 1em;
    font-family: inherit;
    padding: 0 1em;
    border-radius: 4px !important; }
    .form__input::-webkit-input-placeholder {
      color: #CBCBCB; }
    .form__input:-ms-input-placeholder {
      color: #CBCBCB; }
    .form__input::-ms-input-placeholder {
      color: #CBCBCB; }
    .form__input::placeholder {
      color: #CBCBCB; }
  .form__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }

@media (max-width: 1010px) {
  .container {
    max-width: 767px; } }
@media (max-width: 767px) {
  .container {
    max-width: 640px; } }
@media (max-width: 640px) {
  .container {
    max-width: 480px; } }
@media (max-width: 1010px) {
  .features-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    margin: -5px; }
    .features-grid__col {
      width: col-width(auto);
      padding: 5px; }

  .features-grid {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .features-grid__col {
      width: 50%; } }
@media (max-width: 767px) {
  .header {
    height: 75px;
    align-item: center;
    padding: 25px;
    position: fixed;
    background-color: #000; }

  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
    .nav-list {
      display: none; }
      .nav-list-active {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        position: absolute;
        top: 73px;
        left: 0;
        width: 100%;
        height: 100vh;
        padding-top: 20px;
        font-size: 20px;
        background-color: #000; }
        .nav-list-active li + li {
          margin: 15px 0 0; }
    .nav-toggle {
      position: relative;
      display: block;
      height: 25px;
      width: 30px;
      border: 1px solid #fff;
        border-radius: 3px;
      text-align: center;
      font-size: 15px;
      padding: 3px;
      cursor: pointer; }
      .nav-toggle-active__open {
        color: transparent; }
      .nav-toggle-active__close {
        position: absolute;
        top: 25%;
        left: 25%;
        font-size: 20px;
        color: transparent; }

  .preview-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .preview-block__title, .preview-block__text {
      max-width: none;
      text-align: center; }

  .buttons-grid {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .promotion-grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .promotion-grid__col:nth-child(1) {
      width: auto;
      text-align: center;
      margin-bottom: 10px; }
  .promotion-block__title {
    margin: 0 -10px; }
  .promotion-block__img {
    margin-top: 0; }

  .footer-grid {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .footer-grid__col:nth-child(-n+3) {
      display: none; }
    .footer-grid__col:nth-child(4) {
      text-align: center; }
  .footer__copyright {
    margin-top: 2.15em;
    text-align: center; } }
@media (max-width: 640px) {
  .container_gradient {
    padding-top: 120px;
    padding-bottom: 60px; }

  .preview-block__title {
    font-size: 24px;
    margin: 0 -5px; }
  .preview-block__text {
    font-size: 13px;
    line-height: inherit;
    margin-top: 25px; }

  .promotion-block__title {
    font-size: 20px; }
  .promotion-block__text {
    font-size: 12px; }

  .title {
    font-size: 20px; }

  .features-block {
    padding: 35px 0 40px; }
    .features-block__title-sub {
      font-size: 13px;
      margin-bottom: 30px; }
  .features-item {
    font-size: 10px;
    max-width: 150px; }

  .button_option_white {
    font-size: 1.2em; }

  .testimonals-block {
    padding: 30px 0 42px; }

  .trial-block {
    padding: 40px 0; }
    .trial-block__title-sub {
      font-size: 15px; }

  .footer {
    padding: 20px 0; }
    .footer-grid__col:nth-child(4) {
      margin: 10px; }
    .footer__copyright {
      font-size: 10px;
      margin-top: 1.15em;
      padding: 15px; }

  .button {
    width: 100px;
    height: 25px;
    font-size: 12px; }
    .button_option_dark {
      width: auto;
      height: 32px; } }

/*# sourceMappingURL=style.css.map */